/* Place CSS styles here */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #E20074,#ec15ac, #6715ec, #c92222); 
       
}


body {
    background-color: black;
}

.wrapping-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    

}

h1 {
    color:#E20074;
}
h2 {
    color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px #E20074
    0 0 20px #E20074
    0 0 40px #E20074
    0 0 80px #E20074
    0 0 10px #E20074
    0 0 10px #E20074

}

h3 {
    color: #c7c3c3;
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    max-width: 300px;

}



#bars {
    height: 30px;
    left: 40%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 90%;
    width: 40px;
}

.bar {
   background: #E20074;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
}




@keyframes sound {
    0% {
       opacity: .35;
        height: 150px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }
.bar:nth-child(11) { left: 41px; animation-duration: 474ms; }
.bar:nth-child(12) { left: 45px; animation-duration: 423ms; }
.bar:nth-child(13) { left: 49px; animation-duration: 453ms; }
.bar:nth-child(14) { left: 53px; animation-duration: 473ms; }
.bar:nth-child(15) { left: 57px; animation-duration: 430ms; }
.bar:nth-child(16) { left: 61px; animation-duration: 450ms; }
.bar:nth-child(17) { left: 65px; animation-duration: 410ms; }
.bar:nth-child(18) { right: 69px; animation-duration: 410ms; }
.bar:nth-child(19) { right: 71px; animation-duration: 450ms; }
.bar:nth-child(20) { right: 75px; animation-duration: 464ms; }
.bar:nth-child(21) { right: 79px; animation-duration: 440ms; }
.bar:nth-child(22) { right: 83px; animation-duration: 430ms; }
.bar:nth-child(23) { right: 87px; animation-duration: 430ms; }
.bar:nth-child(24) { right: 91px; animation-duration: 450ms; }
.bar:nth-child(25) { right: 95px; animation-duration: 470ms; }
.bar:nth-child(26) { right: 99px; animation-duration: 430ms; }
.bar:nth-child(27) { right: 103px; animation-duration: 410ms; }
.bar:nth-child(28) { right: 107px; animation-duration: 450ms; }
.bar:nth-child(29) { right: 111px; animation-duration: 470ms; }
.bar:nth-child(30) { right: 65px; animation-duration: 450ms; }
.bar:nth-child(31) { right: 61px; animation-duration: 430ms; }
.bar:nth-child(32) { right: 57px; animation-duration: 430ms; }
.bar:nth-child(33) { right: 53px; animation-duration: 420ms; }
.bar:nth-child(34) { right: 49px; animation-duration: 470ms; }
.bar:nth-child(35) { right: 45px; animation-duration: 450ms; }
.bar:nth-child(36) { right: 41px; animation-duration: 430ms; }
.bar:nth-child(37) { right: 39px; animation-duration: 430ms; }
.bar:nth-child(39) { left: 69px; animation-duration: 460ms; }
.bar:nth-child(40) { left: 73px; animation-duration: 470ms; }
.bar:nth-child(41) { left: 77px; animation-duration: 460ms; }
.bar:nth-child(42) { left: 81px; animation-duration: 410ms; }
.bar:nth-child(43) { left: 85px; animation-duration: 433ms; }
.bar:nth-child(44) { left: 89px; animation-duration: 440ms; }
.bar:nth-child(45) { left: 93px; animation-duration: 460ms; }
.bar:nth-child(46) { left: 97px; animation-duration: 460ms; }
.bar:nth-child(47) { left: 101px; animation-duration: 430ms; }
.bar:nth-child(48) { left: 105px; animation-duration: 430ms; }
.bar:nth-child(49) { left: 109px; animation-duration: 430ms; }
.bar:nth-child(50) { left: 113px; animation-duration: 470ms; }
.bar:nth-child(51) { left: 117px; animation-duration: 445ms; }
.bar:nth-child(52) { left: 121px; animation-duration: 420ms; }
.bar:nth-child(53) { left: 125px; animation-duration: 455ms; }
.bar:nth-child(54) { left: 129px; animation-duration: 470ms; }
.bar:nth-child(55) { left: 133px; animation-duration: 445ms; }
.bar:nth-child(56) { left: 137px; animation-duration: 432ms; }
.bar:nth-child(57) { left: 141px; animation-duration: 430ms; }
.bar:nth-child(58) { left: 145px; animation-duration: 430ms; }
.bar:nth-child(59) { left: 149px; animation-duration: 450ms; }
.bar:nth-child(60) { left: 153px; animation-duration: 420ms; }
.bar:nth-child(61) { left: 157px; animation-duration: 475ms; }
.bar:nth-child(62) { left: 161px; animation-duration: 463ms; }
.bar:nth-child(63) { left: 165px; animation-duration: 480ms; }
.bar:nth-child(64) { left: 169px; animation-duration: 420ms; }
.bar:nth-child(65) { left: 173px; animation-duration: 410ms; }
.bar:nth-child(66) { left: 177px; animation-duration: 435ms; }
.bar:nth-child(67) { left: 181px; animation-duration: 463ms; }
.bar:nth-child(68) { left: 185px; animation-duration: 466ms; }
.bar:nth-child(69) { left: 189px; animation-duration: 426ms; }
.bar:nth-child(70) { left: 193px; animation-duration: 488ms; }
.bar:nth-child(71) { left: 197px; animation-duration: 425ms; }
.bar:nth-child(72) { left: 201px; animation-duration: 461ms; }
.bar:nth-child(73) { left: 205px; animation-duration: 420ms; }
.bar:nth-child(74) { left: 209px; animation-duration: 455ms; }
.bar:nth-child(75) { left: 213px; animation-duration: 480ms; }
.bar:nth-child(76) { left: 217px; animation-duration: 420ms; }
.bar:nth-child(77) { left: 221px; animation-duration: 444ms; }
.bar:nth-child(78) { left: 225px; animation-duration: 450ms; }
.bar:nth-child(79) { left: 229px; animation-duration: 430ms; }












#bars2 {
    height: 30px;
    left: 10%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 90%;
    width: 40px;
}

.bar2 {
   background: #E20074;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
}


.heart-Container{
    left:11%;
    position:absolute;
    top:20%;
    transition:all 0.35s;
  }
  
  [aria-checked="true"] .heart-Container{
    left:6%;
    top:23%;
  }
  
  .heart{
      height:90px;
      position:relative;
      width:50px; 
  }
  
  .heart:before, 
  .heart:after{
      background:#E20074;
      border-radius:50px 50px 0 0;
      content:"";
      height:80px;
      left:50px;
      position:absolute;
      top:4px;
      width:50px;
              transform:rotate(-45deg);
              transform-origin:0 100%;
  }
  
  .heart:after {
      left:0;
              transform:rotate(45deg);
              transform-origin:100% 100%;
  }
  
  /* Split the heart in two */
  .sides{
    float:left;
    position:relative;
    transition:all 0.35s;
  }
  
  .half{
    overflow:hidden;
    position:relative;
    width:50px;
  }
  
  .right-Side .heart:after,
  .right-Side .heart:before{
    left:-50px;
  }
  
  /* create the rip in the center */
  .points{
    position:absolute;
    top:20px
  }
  
  .left-Side .points{left:100%}
  .right-Side .points{right:100%}
  
  .point{
    border-bottom: 8px solid transparent;
    border-left:   16px solid #E20074;
    border-top:    8px solid transparent;
    height:0;
    width:0;
     
  }
  
  .right-Side .point {
    border-bottom:  8px solid transparent;
    border-left:    none;
    border-right:   16px solid #E20074;
    border-top:     8px solid transparent;
    position:relative;
  }
  
  .left-Side .point{
    left:-3px;
    position:relative;
    top:3px;
    transform:rotate(-2deg);
  }
  
  .left-Side .pt1{
    left:-5px;
    top:-4px;
    transform:rotate(29deg);
  }
  
  .left-Side .pt2{
    top:1px;
  }
  
  .left-Side .pt3{
    left:-5px;
    top:4px;
    transform:rotate(29deg);
  }
  
  .left-Side .pt4{
    left:-7px;
    position:absolute;
    top:5px;
    transform:rotate(-9deg);
  }
  
  .right-Side .point{
    right:-3px;
    top:-5px;
    transform:rotate(-15deg);
  }
  
  .right-Side .pt2{
    top:-7px;
  }
  
  .right-Side .pt3{
    right:-5px;
    top:-6px;
    transform:rotate(-26deg);
  }
  
  [aria-checked="true"] .left-Side{
    margin-right:10px;
    transform:rotate(-20deg);
  }
  
  [aria-checked="true"] .right-Side{
    margin-left:7px;
    transform:rotate(14deg);
  }
  

section .set {
    z-index: -1;
    position: absolute;
    max-width: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
section .set div {
    position: absolute;
    display: block;
}
section .set div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
section .set div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(3) {
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}
section .set div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
section .set div:nth-child(6) {
    left: 0%;
    animation: animate 12s linear infinite;
}
section .set div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
}
section .set div:nth-child(8) {
    left: 60%;
    animation: animate 15s linear infinite;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate (0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%
    {
        transform: translateX (-20px) rotate(45deg);
    }
    40%
    {
        transform: translateX(-20px) rotate(90deg);
    }
    60%
    {
        transform: translateX(20px) rotate(180deg);
    }
    80%
    {
        transform: translateX(-20px) rotate(180deg);
    }
    100%
    {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.set2 {
transform: scale(2) rotateY(180deg);
filter: blur(2px);
}
.set3 {
    transform: scale(0.8) rotateY(180deg);
    filter: blur(2px);
}
.set4 {
    transform: scale(0.8) rotateY(180deg);
    filter: blur(2px);
}


section .set2 {
    z-index: -1;
    position: absolute;
    max-width: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

section .set2 div {
    position: absolute;
    display: block;
}
section .set2 div:nth-child(1) {
    right: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
section .set2 div:nth-child(2) {
    right: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
section .set2 div:nth-child(3) {
    right: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}
section .set2 div:nth-child(4) {
    right: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
section .set2 div:nth-child(5) {
    right: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
section .set2 div:nth-child(6) {
    right: 0%;
    animation: animate 12s linear infinite;
}
section .set2 div:nth-child(7) {
    right: 15%;
    animation: animate 14s linear infinite;
}
section .set2 div:nth-child(8) {
    right: 60%;
    animation: animate 15s linear infinite;
}
